html {
    background-color: #334d4d;
}

.remove_regapp {
    width: 20px;

}
.remove_regapp:hover, .cancel_edit:hover, .cancel_medit:hover {
    color: #ff0000;
    cursor: pointer;
}
.shower {
    display: none;
}
.edit_hist:hover, .confirm_pedit:hover, .confirm_medit:hover {
    color: #33cc33;
    cursor: pointer;
}

.margins {
    margin-right: 5px;
}

table { /*http://www.w3schools.com/css/tryit.asp?filename=trycss_table_border_divider*/
    border-collapse;
    width: 300px;
    display: block;
}


th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid black;
}

body {
    background-color: #334d4d;
}   

.welldiv {
    background-color: #f9f9f9;
    min-width: 30em;
    width: 100%;
    max-width: 60em;
    margin-left: auto;
    margin-right: auto;
}

select {
    width: 162px;
    background-color: #f2f2f2;
    border: 1px solid #999999;
    text-decoration: none;
    -webkit-border-radius: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    display: inline-block;

    padding: 2px 15px 2px 2px;
    background: url(1456191668_icon-arrow-down-b.png) no-repeat right;
    background-size: 15px 15px;
}

select:hover {
    cursor: pointer;
    color: #fff;
    background-color: #bfbfbf;
    background: url(1456191668_icon-arrow-down-b.png) no-repeat 15px right;

}

option {
    cursor: pointer;
}

button {
   width: 165px; 
   border-radius: 7px;
   background-color: #f2f2f2;
   border: 1px solid #999999;
}

button:hover {
    background-color: #bfbfbf;
    color: #fff;

}

#registration_form div{
    margin-left: 25px;
    float: left;
}

#edit_info {
}

#edit_info input[type=text] {
    margin-top: 5px;
    display: block;
}
#registration_form input[type=text], .reg-forms input[type=text]{
    margin-top: 5px;
    display: block;

}


.centering {
    margin-left: 300px;
}


