.navbar ul {
    list-style-type: none;
    margin: 0;
    margin-left: -7px;
    margin-top: -8px;
    padding: 0;
    width: 150px;
    background-color: #f9f9f9; 
    position: fixed;
    height: 105%;
    color: black;
}

.navbar li a {
    margin: 0;
    display: block;
    width: 100%;
    padding: 8px 0 8px 16px;
    text-decoration: none;
    text-align: left;
    color: black;
}



.navbar a {
    margin: 0;
    display: block;
    width: 94%;
    padding: 8px 0 8px 16px;
    text-decoration: none;
    text-align: left;
    color: black;
}

.navbar li a:hover {
        background-color: #b3b3b3; 
        color: white;

}
